{% extends "auctions/layout.html" %}

{% block body %}

    <div class="d-flex align-items-center justify-content-center" style="gap: 2rem;">

        <img src="{{listing.imageUrl}}" alt="{{listing.title}}" style="max-width:600px;">
        
        <div class="d-flex flex-column w-50">
            
            <h2>{{listing.title}}</h2>

            {% if user.is_authenticated %}

            {% if listing.isActive == False %}
                {% if currentUser == highest_bid_user %}
                    <h3>{{highest_bid_user}}, you won this action with the bid of ${{listing.bid.bid}}!</h3>
                {% else %}
                    <h3>{{highest_bid_user}} won this action with the bid of ${{listing.bid.bid}}.</h3>
                {% endif %}
                <h4 class="pt-2">This action is closed.</h4>
            {% endif %}

            
            {% if is_currentUser_owner %}

                {% if listing.isActive %}
                    <form action="{% url 'close_action' id=listing.id%}" class="pt-2">
                        {% csrf_token %}
                        <button type="submit"class="btn btn-danger">Close Action</button>
                        <p><small>If you close this action, the user with the highest bid will won. It can not be undone.</small></p>
                    </form>
                {% endif %}
            {% else %}
                {% if listing.isActive %}
                    {% if listing_is_in_userWatchlist %}
                        <form action="{% url 'remove_from_watchlist' id=listing.id %}" method="POST" class="pt-2">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Remove from watchlist</button>
                        </form>
                    {% else %}
                        <form action="{% url 'add_to_watchlist' id=listing.id %}" method="POST" class="pt-2">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info">Add to watchlist</button>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}

            <p>Initial price: ${{listing.price}}</p>
            <p>Highest bid: ${{listing.bid.bid}}</p>
            <p>{{listing.description}}</p>

            {% if user.is_authenticated %}
                {% if listing.isActive %}
                    {% if is_currentUser_owner == False %}
                        <form action="{% url 'add_bid' id=listing.id %}" method="POST">
                            {% csrf_token %}
                            <h3>Add Bid:</h3>
                            <input type="number" name="bid_input">
                            <button class="btn btn-info">Add</button>
                            <br>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}

        </div>        

    </div>

    <div class="container d-flex align-items-center justify-content-center py-5">
            <div class="col-md-8 col-sm-12">
                <p>You need to be logged in to comment.</p>
                <form action="{% url 'add_comment' id=listing.id %}" method="POST" style="width: 700px;">
                    {% csrf_token %}
                    <textarea name="comment_input" class="form-control" placeholder="Write a comment..." rows="3"></textarea>
                    <br>
                    <button type="submit" class="btn btn-info pull-right">Post</button>
                </form>
                <hr>
                <ul class="media-list" style="display: flex; flex-direction: column; gap: 1rem;">
                    {% for comment in allListingComments %}
                        <li class="media">
                            <div class="media-body border border-secondary px-3">
                                <strong class="text-success">@{{comment.author}}</strong>
                                <hr>
                                <p>
                                    {{comment.message}}
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
    </div>


{% endblock %}